# Dependencies
node_modules/

# Build
dist/
build/

# Environment
# .env
# .env.local
# .env.*.local

# TypeScript
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Vite
*.local
