# Dependencies
node_modules/

# Build
dist/

# Environment
# .env
.env.local

# Prisma
*.db
*.db-journal

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
.DS_Store
